Notebook dedicado a explorar métodos de lectura y escritura de un Dataset. Para ello se trabajara con Los datos obtenidos del fichero del portal de datos abiertos del ayuntamiento de Madrid, especificamente el Padron de Madrid, los cuales han están almacenados en una tabla en formato Parquet.

En este Notebook leeremos datos en distintos formatos:
* Parquet

Escribiremos datos en los siguientes formatos:
* CSV
* JSON

In [1]:
case class Padron (
  COD_DISTRITO: Integer,
  DESC_DISTRITO: String,
  COD_DIST_BARRIO: Integer,
  DESC_BARRIO: String,
  COD_BARRIO: Integer,
  COD_DIST_SECCION: Integer,
  COD_SECCION: Integer,
  COD_EDAD_INT: Integer,
  EspanolesHombres: Integer,
  EspanolesMujeres: Integer,
  ExtranjerosHombres: Integer,
  ExtranjerosMujeres: Integer
  )

Intitializing Scala interpreter ...

Spark Web UI available at http://192.168.1.35:4041
SparkContext available as 'sc' (version = 3.0.2, master = local[*], app id = local-1614555093351)
SparkSession available as 'spark'

defined class Padron

In [4]:
import spark.implicits._

// Leemos Datos procedentes de tabla cuyos datos están en formato parquet
// una vez leidos transformamos el DataFrame en un Dataset
// val sourceParquetDS = spark.table("default.padron_madrid").as[Padron].cache()
val sourceParquetDS = spark.read.parquet("./dataOutput/df/parquet").as[Padron].cache()

// obtenemos el total de registros
val totalRecords = sourceParquetDS.count()

import spark.implicits._
sourceParquetDS: org.apache.spark.sql.Dataset[Padron] = [COD_DISTRITO: int, DESC_DISTRITO: string ... 10 more fields]
totalRecords: Long = 237675

In [5]:
import org.apache.spark.sql.functions._

val totalBySexAndTypeDF = sourceParquetDS.withColumn("Hombres", col("EspanolesHombres") + col("ExtranjerosHombres"))
                                       .withColumn("Mujeres", col("EspanolesMujeres") + col("ExtranjerosMujeres"))

val distritoAndBarrioPeopleAggDF = totalBySexAndTypeDF.groupBy("DESC_DISTRITO", "DESC_BARRIO")
.agg(
  sum("EspanolesHombres").alias("TotalEspanolesHombres"),
  sum("EspanolesMujeres").alias("TotalEspanolesMujeres"),
  sum("ExtranjerosHombres").alias("TotalExtranjerosHombres"),
  sum("ExtranjerosMujeres").alias("TotalExtranjerosMujeres"),
  sum("Hombres").alias("TotalHombres"),
  sum("Mujeres").alias("TotalMujeres")
  )
.withColumn("TotalPersonas", col("TotalHombres") + col("TotalMujeres"))
.select("DESC_DISTRITO", "DESC_BARRIO", "TotalEspanolesHombres", "TotalEspanolesMujeres", "TotalExtranjerosHombres", "TotalExtranjerosMujeres", "TotalHombres", "TotalMujeres", "TotalPersonas").cache()

distritoAndBarrioPeopleAggDF.orderBy(col("TotalPersonas").desc).show()

+-------------------+--------------------+---------------------+---------------------+-----------------------+-----------------------+------------+------------+-------------+
|      DESC_DISTRITO|         DESC_BARRIO|TotalEspanolesHombres|TotalEspanolesMujeres|TotalExtranjerosHombres|TotalExtranjerosMujeres|TotalHombres|TotalMujeres|TotalPersonas|
+-------------------+--------------------+---------------------+---------------------+-----------------------+-----------------------+------------+------------+-------------+
|             LATINA|              ALUCHE|                25257|                29932|                   5592|                   6609|       30849|       36541|        67390|
|FUENCARRAL-EL PARDO|            VALVERDE|                26976|                29226|                   3730|                   4515|       30706|       33741|        64447|
|          HORTALEZA|        VALDEFUENTES|                28206|                28615|                   2824|                   3748|       31030|       32363|        63393|
|      CIUDAD LINEAL|        PUEBLO NUEVO|                23542|                27511|                   5615|                   6517|       29157|       34028|        63185|
|          HORTALEZA|       PINAR DEL REY|                21426|                25011|                   2869|                   3566|       24295|       28577|        52872|
|             LATINA|         LAS AGUILAS|                20987|                24203|                   3087|                   3684|       24074|       27887|        51961|
|  VILLA DE VALLECAS|ENSANCHE DE VALLECAS|                21961|                22295|                   2815|                   3313|       24776|       25608|        50384|
|      CIUDAD LINEAL|              VENTAS|                17752|                21912|                   4069|                   4913|       21821|       26825|        48646|
| PUENTE DE VALLECAS|            NUMANCIA|                17290|                19641|                   5584|                   5907|       22874|       25548|        48422|
|        CARABANCHEL|          BUENAVISTA|                19859|                21166|                   3424|                   3751|       23283|       24917|        48200|
|             CENTRO|         EMBAJADORES|                16694|                16809|                   8230|                   5787|       24924|       22596|        47520|
|        CARABANCHEL|        VISTA ALEGRE|                15998|                19492|                   5589|                   6291|       21587|       25783|        47370|
|         VILLAVERDE|VILLAVERDE ALTO C.H.|                17102|                19110|                   5182|                   5470|       22284|       24580|        46864|
|FUENCARRAL-EL PARDO|            EL PILAR|                18580|                21981|                   2554|                   3189|       21134|       25170|        46304|
|FUENCARRAL-EL PARDO|         PEÑA GRANDE|                19103|                21688|                   1567|                   2192|       20670|       23880|        44550|
| PUENTE DE VALLECAS|           SAN DIEGO|                13903|                15587|                   7066|                   7367|       20969|       22954|        43923|
| PUENTE DE VALLECAS|   PALOMERAS SURESTE|                17682|                19516|                   2845|                   3083|       20527|       22599|        43126|
|             LATINA|    PUERTA DEL ANGEL|                15250|                17837|                   4211|                   4930|       19461|       22767|        42228|
|          SALAMANCA|          GUINDALERA|                16836|                20325|                   2223|                   2740|       19059|       23065|        42124|
| PUENTE DE VALLECAS|     PALOMERAS BAJAS|                15999|                18130|                   3050|                   3468|       19049|       21598|        40647|
+-------------------+--------------------+---------------------+---------------------+-----------------------+-----------------------+------------+------------+-------------+
only showing top 20 rows

import org.apache.spark.sql.functions._
totalBySexAndTypeDF: org.apache.spark.sql.DataFrame = [COD_DISTRITO: int, DESC_DISTRITO: string ... 12 more fields]
distritoAndBarrioPeopleAggDF: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [DESC_DISTRITO: string, DESC_BARRIO: string ... 7 more fields]

In [6]:
val distritoPeopleAggDF = distritoAndBarrioPeopleAggDF.groupBy("DESC_DISTRITO").agg(
sum("TotalEspanolesHombres").alias("TotalEspanolesHombres"),
  sum("TotalEspanolesMujeres").alias("TotalEspanolesMujeres"),
  sum("TotalExtranjerosHombres").alias("TotalExtranjerosHombres"),
  sum("TotalExtranjerosMujeres").alias("TotalExtranjerosMujeres"),
  sum("TotalHombres").alias("TotalHombres"),
  sum("TotalMujeres").alias("TotalMujeres"),
  sum("TotalPersonas").alias("TotalPersonas")
)
.withColumn("TotalEspanoles", col("TotalEspanolesHombres") + col("TotalEspanolesMujeres"))
.withColumn("TotalExtranjeros", col("TotalExtranjerosHombres") + col("TotalExtranjerosMujeres"))

distritoPeopleAggDF.orderBy(col("TotalPersonas").desc).show()

+-------------------+---------------------+---------------------+-----------------------+-----------------------+------------+------------+-------------+--------------+----------------+
|      DESC_DISTRITO|TotalEspanolesHombres|TotalEspanolesMujeres|TotalExtranjerosHombres|TotalExtranjerosMujeres|TotalHombres|TotalMujeres|TotalPersonas|TotalEspanoles|TotalExtranjeros|
+-------------------+---------------------+---------------------+-----------------------+-----------------------+------------+------------+-------------+--------------+----------------+
|        CARABANCHEL|                94274|               108948|                  27018|                  29908|      121292|      138856|       260148|        203222|           56926|
|FUENCARRAL-EL PARDO|               107136|               118780|                  10034|                  13021|      117170|      131801|       248971|        225916|           23055|
|             LATINA|                92207|               106512|                  19780|                  23149|      111987|      129661|       241648|        198719|           42929|
| PUENTE DE VALLECAS|                90080|               100862|                  23917|                  25589|      113997|      126451|       240448|        190942|           49506|
|      CIUDAD LINEAL|                83600|               100225|                  15559|                  18761|       99159|      118986|       218145|        183825|           34320|
|          HORTALEZA|                82390|                89932|                   9642|                  12161|       92032|      102093|       194125|        172322|           21803|
|SAN BLAS-CANILLEJAS|                65363|                72564|                  10864|                  12315|       76227|       84879|       161106|        137927|           23179|
|             TETUAN|                58796|                69116|                  14413|                  18498|       73209|       87614|       160823|        127912|           32911|
|         VILLAVERDE|                57612|                63867|                  16695|                  17404|       74307|       81271|       155578|        121479|           34099|
|         ARGANZUELA|                64566|                73947|                   7896|                   8878|       72462|       82825|       155287|        138513|           16774|
|          SALAMANCA|                55511|                69259|                   9363|                  12646|       64874|       81905|       146779|        124770|           22009|
|          CHAMARTIN|                59872|                71553|                   6119|                   9035|       65991|       80588|       146579|        131425|           15154|
|              USERA|                50340|                57664|                  17275|                  18023|       67615|       75687|       143302|        108004|           35298|
|             CENTRO|                52732|                52699|                  19507|                  17005|       72239|       69704|       141943|        105431|           36512|
|           CHAMBERI|                54316|                67897|                   7443|                  10016|       61759|       77913|       139672|        122213|           17459|
|    MONCLOA-ARAVACA|                49914|                57525|                   6052|                   8027|       55966|       65552|       121518|        107439|           14079|
|             RETIRO|                49784|                59126|                   4356|                   6018|       54140|       65144|       119284|        108910|           10374|
|  VILLA DE VALLECAS|                48211|                50823|                   7669|                   8596|       55880|       59419|       115299|         99034|           16265|
|          MORATALAZ|                38509|                45823|                   4465|                   5665|       42974|       51488|        94462|         84332|           10130|
|          VICALVARO|                31690|                33871|                   4905|                   5182|       36595|       39053|        75648|         65561|           10087|
+-------------------+---------------------+---------------------+-----------------------+-----------------------+------------+------------+-------------+--------------+----------------+
only showing top 20 rows

distritoPeopleAggDF: org.apache.spark.sql.DataFrame = [DESC_DISTRITO: string, TotalEspanolesHombres: bigint ... 8 more fields]

In [7]:
import org.apache.spark.sql.types.DecimalType

val distritoPeopleAggRatioDF = distritoPeopleAggDF
.withColumn("%_Espanoles", (lit(100) * col("TotalEspanoles") / col("TotalPersonas")).cast(DecimalType(4,2)))
.withColumn("%_Extranjeros", (lit(100) * col("TotalExtranjeros") / col("TotalPersonas")).cast(DecimalType(4,2)))
.withColumn("%_Mujeres", (lit(100) * col("TotalMujeres") / col("TotalPersonas")).cast(DecimalType(4,2)))
.withColumn("%_Hombres", (lit(100) * col("TotalHombres") / col("TotalPersonas")).cast(DecimalType(4,2)))

distritoPeopleAggRatioDF.show()

+-------------------+---------------------+---------------------+-----------------------+-----------------------+------------+------------+-------------+--------------+----------------+-----------+-------------+---------+---------+
|      DESC_DISTRITO|TotalEspanolesHombres|TotalEspanolesMujeres|TotalExtranjerosHombres|TotalExtranjerosMujeres|TotalHombres|TotalMujeres|TotalPersonas|TotalEspanoles|TotalExtranjeros|%_Espanoles|%_Extranjeros|%_Mujeres|%_Hombres|
+-------------------+---------------------+---------------------+-----------------------+-----------------------+------------+------------+-------------+--------------+----------------+-----------+-------------+---------+---------+
|             LATINA|                92207|               106512|                  19780|                  23149|      111987|      129661|       241648|        198719|           42929|      82.23|        17.77|    53.66|    46.34|
|             TETUAN|                58796|                69116|                  14413|                  18498|       73209|       87614|       160823|        127912|           32911|      79.54|        20.46|    54.48|    45.52|
|          SALAMANCA|                55511|                69259|                   9363|                  12646|       64874|       81905|       146779|        124770|           22009|      85.01|        14.99|    55.80|    44.20|
|             RETIRO|                49784|                59126|                   4356|                   6018|       54140|       65144|       119284|        108910|           10374|      91.30|         8.70|    54.61|    45.39|
|    MONCLOA-ARAVACA|                49914|                57525|                   6052|                   8027|       55966|       65552|       121518|        107439|           14079|      88.41|        11.59|    53.94|    46.06|
|          HORTALEZA|                82390|                89932|                   9642|                  12161|       92032|      102093|       194125|        172322|           21803|      88.77|        11.23|    52.59|    47.41|
| PUENTE DE VALLECAS|                90080|               100862|                  23917|                  25589|      113997|      126451|       240448|        190942|           49506|      79.41|        20.59|    52.59|    47.41|
|         VILLAVERDE|                57612|                63867|                  16695|                  17404|       74307|       81271|       155578|        121479|           34099|      78.08|        21.92|    52.24|    47.76|
|           CHAMBERI|                54316|                67897|                   7443|                  10016|       61759|       77913|       139672|        122213|           17459|      87.50|        12.50|    55.78|    44.22|
|SAN BLAS-CANILLEJAS|                65363|                72564|                  10864|                  12315|       76227|       84879|       161106|        137927|           23179|      85.61|        14.39|    52.69|    47.31|
|      CIUDAD LINEAL|                83600|               100225|                  15559|                  18761|       99159|      118986|       218145|        183825|           34320|      84.27|        15.73|    54.54|    45.46|
|            BARAJAS|                21955|                23156|                   2302|                   2872|       24257|       26028|        50285|         45111|            5174|      89.71|        10.29|    51.76|    48.24|
|  VILLA DE VALLECAS|                48211|                50823|                   7669|                   8596|       55880|       59419|       115299|         99034|           16265|      85.89|        14.11|    51.53|    48.47|
|          VICALVARO|                31690|                33871|                   4905|                   5182|       36595|       39053|        75648|         65561|           10087|      86.67|        13.33|    51.62|    48.38|
|        CARABANCHEL|                94274|               108948|                  27018|                  29908|      121292|      138856|       260148|        203222|           56926|      78.12|        21.88|    53.38|    46.62|
|             CENTRO|                52732|                52699|                  19507|                  17005|       72239|       69704|       141943|        105431|           36512|      74.28|        25.72|    49.11|    50.89|
|          MORATALAZ|                38509|                45823|                   4465|                   5665|       42974|       51488|        94462|         84332|           10130|      89.28|        10.72|    54.51|    45.49|
|          CHAMARTIN|                59872|                71553|                   6119|                   9035|       65991|       80588|       146579|        131425|           15154|      89.66|        10.34|    54.98|    45.02|
|FUENCARRAL-EL PARDO|               107136|               118780|                  10034|                  13021|      117170|      131801|       248971|        225916|           23055|      90.74|         9.26|    52.94|    47.06|
|         ARGANZUELA|                64566|                73947|                   7896|                   8878|       72462|       82825|       155287|        138513|           16774|      89.20|        10.80|    53.34|    46.66|
+-------------------+---------------------+---------------------+-----------------------+-----------------------+------------+------------+-------------+--------------+----------------+-----------+-------------+---------+---------+
only showing top 20 rows

import org.apache.spark.sql.types.DecimalType
distritoPeopleAggRatioDF: org.apache.spark.sql.DataFrame = [DESC_DISTRITO: string, TotalEspanolesHombres: bigint ... 12 more fields]

In [8]:
// examinamos la estructura (esquema/schema) del DF final
distritoPeopleAggRatioDF.printSchema

root
 |-- DESC_DISTRITO: string (nullable = true)
 |-- TotalEspanolesHombres: long (nullable = true)
 |-- TotalEspanolesMujeres: long (nullable = true)
 |-- TotalExtranjerosHombres: long (nullable = true)
 |-- TotalExtranjerosMujeres: long (nullable = true)
 |-- TotalHombres: long (nullable = true)
 |-- TotalMujeres: long (nullable = true)
 |-- TotalPersonas: long (nullable = true)
 |-- TotalEspanoles: long (nullable = true)
 |-- TotalExtranjeros: long (nullable = true)
 |-- %_Espanoles: decimal(4,2) (nullable = true)
 |-- %_Extranjeros: decimal(4,2) (nullable = true)
 |-- %_Mujeres: decimal(4,2) (nullable = true)
 |-- %_Hombres: decimal(4,2) (nullable = true)

In [9]:
import java.math.BigDecimal
// import scala.math.BigInt

// Dado el schema del DF anterior
// Los decimal se expresan utilizando como tipo de dato la clase java.math.BigDecimal
// Los datos de tipo long podemos expresarlos con datos del tipo Long y scala.math.BigInt. 
// El primero arroja mejor rendimiento mientras que el segundo permite almacenar un rango más amplio que el tipo Long

case class PadronDistritoAggregation (
  DESC_DISTRITO: String,
  TotalEspanolesHombres: Long,
  TotalEspanolesMujeres: Long,
  TotalExtranjerosHombres: Long,
  TotalExtranjerosMujeres: Long,
  TotalHombres: Long,
  TotalMujeres: Long,
  TotalPersonas: Long,
  TotalEspanoles: Long,
  TotalExtranjeros: Long,
  `%_Espanoles`: BigDecimal,
  `%_Extranjeros`: BigDecimal,
  `%_Mujeres`: BigDecimal,
  `%_Hombres`: BigDecimal
)

import java.math.BigDecimal
defined class PadronDistritoAggregation

In [10]:
//convertimos el DataFrame = Dataset[Row] a Dataset[PadronDistritoAggregation]
val distritoPeopleAggDS = distritoPeopleAggRatioDF.as[PadronDistritoAggregation]
distritoPeopleAggDS.show()

+-------------------+---------------------+---------------------+-----------------------+-----------------------+------------+------------+-------------+--------------+----------------+-----------+-------------+---------+---------+
|      DESC_DISTRITO|TotalEspanolesHombres|TotalEspanolesMujeres|TotalExtranjerosHombres|TotalExtranjerosMujeres|TotalHombres|TotalMujeres|TotalPersonas|TotalEspanoles|TotalExtranjeros|%_Espanoles|%_Extranjeros|%_Mujeres|%_Hombres|
+-------------------+---------------------+---------------------+-----------------------+-----------------------+------------+------------+-------------+--------------+----------------+-----------+-------------+---------+---------+
|             LATINA|                92207|               106512|                  19780|                  23149|      111987|      129661|       241648|        198719|           42929|      82.23|        17.77|    53.66|    46.34|
|             TETUAN|                58796|                69116|                  14413|                  18498|       73209|       87614|       160823|        127912|           32911|      79.54|        20.46|    54.48|    45.52|
|          SALAMANCA|                55511|                69259|                   9363|                  12646|       64874|       81905|       146779|        124770|           22009|      85.01|        14.99|    55.80|    44.20|
|             RETIRO|                49784|                59126|                   4356|                   6018|       54140|       65144|       119284|        108910|           10374|      91.30|         8.70|    54.61|    45.39|
|    MONCLOA-ARAVACA|                49914|                57525|                   6052|                   8027|       55966|       65552|       121518|        107439|           14079|      88.41|        11.59|    53.94|    46.06|
|          HORTALEZA|                82390|                89932|                   9642|                  12161|       92032|      102093|       194125|        172322|           21803|      88.77|        11.23|    52.59|    47.41|
| PUENTE DE VALLECAS|                90080|               100862|                  23917|                  25589|      113997|      126451|       240448|        190942|           49506|      79.41|        20.59|    52.59|    47.41|
|         VILLAVERDE|                57612|                63867|                  16695|                  17404|       74307|       81271|       155578|        121479|           34099|      78.08|        21.92|    52.24|    47.76|
|           CHAMBERI|                54316|                67897|                   7443|                  10016|       61759|       77913|       139672|        122213|           17459|      87.50|        12.50|    55.78|    44.22|
|SAN BLAS-CANILLEJAS|                65363|                72564|                  10864|                  12315|       76227|       84879|       161106|        137927|           23179|      85.61|        14.39|    52.69|    47.31|
|      CIUDAD LINEAL|                83600|               100225|                  15559|                  18761|       99159|      118986|       218145|        183825|           34320|      84.27|        15.73|    54.54|    45.46|
|            BARAJAS|                21955|                23156|                   2302|                   2872|       24257|       26028|        50285|         45111|            5174|      89.71|        10.29|    51.76|    48.24|
|  VILLA DE VALLECAS|                48211|                50823|                   7669|                   8596|       55880|       59419|       115299|         99034|           16265|      85.89|        14.11|    51.53|    48.47|
|          VICALVARO|                31690|                33871|                   4905|                   5182|       36595|       39053|        75648|         65561|           10087|      86.67|        13.33|    51.62|    48.38|
|        CARABANCHEL|                94274|               108948|                  27018|                  29908|      121292|      138856|       260148|        203222|           56926|      78.12|        21.88|    53.38|    46.62|
|             CENTRO|                52732|                52699|                  19507|                  17005|       72239|       69704|       141943|        105431|           36512|      74.28|        25.72|    49.11|    50.89|
|          MORATALAZ|                38509|                45823|                   4465|                   5665|       42974|       51488|        94462|         84332|           10130|      89.28|        10.72|    54.51|    45.49|
|          CHAMARTIN|                59872|                71553|                   6119|                   9035|       65991|       80588|       146579|        131425|           15154|      89.66|        10.34|    54.98|    45.02|
|FUENCARRAL-EL PARDO|               107136|               118780|                  10034|                  13021|      117170|      131801|       248971|        225916|           23055|      90.74|         9.26|    52.94|    47.06|
|         ARGANZUELA|                64566|                73947|                   7896|                   8878|       72462|       82825|       155287|        138513|           16774|      89.20|        10.80|    53.34|    46.66|
+-------------------+---------------------+---------------------+-----------------------+-----------------------+------------+------------+-------------+--------------+----------------+-----------+-------------+---------+---------+
only showing top 20 rows

distritoPeopleAggDS: org.apache.spark.sql.Dataset[PadronDistritoAggregation] = [DESC_DISTRITO: string, TotalEspanolesHombres: bigint ... 12 more fields]

In [11]:
println(s"Número actual de particiones: ${distritoPeopleAggDS.rdd.getNumPartitions}")

// reducimos el numero de partitiones para que de esta forma sea un único fichero JSON o CSV el que sea generado al llevar a cabo la escritura
val onePartitionDS = distritoPeopleAggDS.coalesce(1)

println(s"Número actual de particiones después del coalesce: ${onePartitionDS.rdd.getNumPartitions}")

onePartitionDS.write.mode("overwrite").format("csv").option("header", true).save("./dataOutput/ds/csv")
onePartitionDS.write.mode("overwrite").json("./dataOutput/ds/json")

Número actual de particiones: 200
Número actual de particiones después del coalesce: 1

onePartitionDS: org.apache.spark.sql.Dataset[PadronDistritoAggregation] = [DESC_DISTRITO: string, TotalEspanolesHombres: bigint ... 12 more fields]